@page "/Error"
@using System.Diagnostics

<PageTitle>Fehler</PageTitle>

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Es ist ein Fehler aufgetreten, während Ihre Anfrage verarbeitet wurde.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Anfrage-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Entwicklungsmodus</h3>
<p>
    Der Wechsel zum <strong>Entwicklungs</strong>-Umfeld zeigt detailliertere Informationen über den aufgetretenen Fehler an.
</p>
<p>
    <strong>Das Entwicklungsumfeld sollte nicht für bereitgestellte Anwendungen aktiviert werden.</strong>
    Es kann dazu führen, dass vertrauliche Informationen von Ausnahmen an Endbenutzer angezeigt werden.
    Für lokales Debugging aktivieren Sie das <strong>Entwicklungs</strong>-Umfeld, indem Sie die Umgebungsvariable <strong>ASPNETCORE_ENVIRONMENT</strong> auf <strong>Development</strong> setzen
    und die Anwendung neu starten.
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
