@page "/ubersicht"
@rendermode InteractiveServer
@using UIComponents;
<PageTitle>Übersicht</PageTitle>

<h1>Übersicht</h1>

<Component1></Component1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
