@namespace YourProjectNamespace.Modules

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Zeit</th>
            <th scope="col">Artikel</th>
            <th scope="col">Menge</th>
            <th scope="col">Container</th>
            <th scope="col">Ankaeufer</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>17.09.2024</th>
            <td>14:00</td>
            <td>Call vulg. GG Sunset Trio  11 cm Trio</td>
            <td>80x8=640</td>
            <td> </td>
            <td>elbers</td>
            <td>gedruckt</td>
        </tr>
        <tr class="table-success">
            <th>17.09.2024</th>
            <td>14:00</td>
            <td>Call vulg. GG Sunset Trio  11 cm Trio</td>
            <td>80x8=640</td>
            <td> </td>
            <td>elbers</td>
            <td>gedruckt</td>
        </tr>
        <tr class="table-success">
            <th>17.09.2024</th>
            <td>14:00</td>
            <td>Call vulg. GG Sunset Trio  11 cm Trio</td>
            <td>80x8=640</td>
            <td>DC Neutral</td>
            <td>elbers</td>
            <td>gedruckt</td>
        </tr>
        <tr class="table-warning">
            <th>17.09.2024</th>
            <td>14:00</td>
            <td>Call vulg. GG Sunset Trio  11 cm Trio</td>
            <td>80x8=640</td>
            <td> </td>
            <td>elbers</td>
            <td>gedruckt</td>
        </tr>
        <tr class="table-danger">
            <th>17.09.2024</th>
            <td>14:00</td>
            <td>Call vulg. GG Sunset Trio  11 cm Trio</td>
            <td>80x8=640</td>
            <td> </td>
            <td>elbers</td>
            <td>gedruckt</td>
        </tr>
    </tbody>
</table>

@code {

}
