



<div class="tm-welcome-container text-center text-white">
    <div class="tm-welcome-container-inner">
        <p class="tm-welcome-text mb-1 text-white">
            Willkommen bei FloriTrade!
        </p>
        <p class="tm-welcome-text mb-5 text-white">
            Lassen Sie sich bei uns registrieren um Floritrade zu nutzen!<br>
            Sie erhalten unsere Bestellungen Online und können direkt Etiketten, Lieferscheine und Rechnungen schreiben, sodass Sie zukünftig keine Daten mehr mehrfach eingeben müssen.
            
            Rufen Sie uns unter 02832 / 50001-83 an oder melden Sie sich per Email unter elbers@elbers-eurofleurs.de um mehr Informationen zu bekommen oder an einer kurzen Vorführung teilzunehmen.
            
            das FLORITRADE-System ist für unsere Lieferanten kostenlos!
            <br>
            Eurofleurs Elbers GmbH & Co KG.
        </p>
        <a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
            <span>Anmelden</span>
        </a>
    </div>
</div>

<div id="tm-video-container">
    <video autoplay muted loop id="tm-video">
        <source src="/assets/video/wheat-field.mp4" type="video/mp4">
    </video>
</div>

<i id="tm-video-control-button" class="fas fa-pause"></i>

@code {

}
