 @code {
    [Parameter]
    public bool IsLoginOrContactPage { get; set; }
}

<div class="row pt-5">
    <div class="col-12 d-flex justify-content-between align-items-center">
        @if (!IsLoginOrContactPage)
        {
            <a class="ausfahrt btn btn-primary shadow-lg" href="/">Abmelden</a>
        }
        <p class="text-right">
            Copyright 2024 By Artem.R.
        </p>
    </div>
</div>

