@using TestArtem.Components.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="row pt-5">
    <div class="col-12 d-flex justify-content-between align-items-center">
        @if (!IsLoginOrContactPage)
        {
            <button class="ausfahrt btn btn-primary shadow-lg" @onclick="Logout">Abmelden</button>
        }
        <p class="text-right">
            Copyright 2024 By Artem.R.
        </p>
    </div>
</div>

@code {
    [Parameter]
    public bool IsLoginOrContactPage { get; set; }

    private void Logout()
    {
        AuthService.Logout(); // Вызов метода Logout из AuthService
        NavigationManager.NavigateTo("/login"); // Перенаправление на страницу логина
    }
}
