<!-- Subscribe form and footer links -->
<div class="row mt-5 pt-3">
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="tm-bg-gray p-5 h-100">
            <h3 class="tm-text-primary mb-3">Möchten Sie die neuesten Angebote für unsere Blumen erhalten</h3>
            <p class="mb-5">
                Abonnieren Sie unseren Newsletter, um über kommende Neuigkeiten und aktuelle Informationen zu unseren Blumenangeboten informiert zu werden. Vielen Dank.
            </p>
            <form action="" method="GET" class="tm-subscribe-form">
                <input type="text" name="email" placeholder="Your Email..." required>
                <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
        <div class="p-5 tm-bg-gray">
            <h3 class="tm-text-primary mb-4">Kontakte</h3>
            <ul class="list-unstyled tm-footer-links">
                <li>Topfpflanzen vom Niederrhein</li>
                <li>EUROFLEURS - Elbers GmbH & Co. KG</li>
                <li>Ottersweg 6</li>
                <li>D-47624 Kevelaer</li>
                <li>0049 (0) 2832 - 5000 - 190</li>
                <li>elbers@elbers-eurofleurs.de</li>
            </ul>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
        <div class="p-5 tm-bg-gray h-100">
            <h3 class="tm-text-primary mb-4">Rechtliches</h3>
            <ul class="list-unstyled tm-footer-links">
                <li><a href="#" data-toggle="modal" data-target="#Impressum">Impressum</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Datenschutz">Datenschutz</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Umweltschutz">Umweltschutz</a></li>
                <li>
                    <NavLink href="contact">
                        Kontakte
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- row -->

<footer class="row pt-5">
    <div class="col-12">
        <p class="text-right">
            Copyright 2024 By Artem.R.
        </p>
    </div>
</footer>

@code {

}
