


<!-- Subscribe form and footer links -->
<div class="row mt-5 pt-3">
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="tm-bg-gray p-5 h-100">
            <h3 class="tm-text-primary mb-3">Lassen Sie sich bei uns registrieren um Floritrade zu nutzen!</h3>
            <p class="tm-welcome-text mb-5">
                Sie erhalten unsere Bestellungen Online und können direkt Etiketten, Lieferscheine und Rechnungen schreiben, sodass Sie zukünftig keine Daten mehr mehrfach eingeben müssen.

                Rufen Sie uns unter 02832 / 50001-83 an oder melden Sie sich per Email unter elbers@elbers-eurofleurs.de um mehr Informationen zu bekommen oder an einer kurzen Vorführung teilzunehmen.

                das FLORITRADE-System ist für unsere Lieferanten kostenlos!
                <br>
                Eurofleurs Elbers GmbH & Co KG.
            </p>
            
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
        <div class="p-5 tm-bg-gray">
            <h3 class="tm-text-primary mb-4">Kontakte</h3>
            <ul class="list-unstyled tm-footer-links">
                <li>Topfpflanzen vom Niederrhein</li>
                <li>EUROFLEURS - Elbers GmbH & Co. KG</li>
                <li>Ottersweg 6</li>
                <li>D-47624 Kevelaer</li>
                <li>0049 (0) 2832 - 5000 - 190</li>
                <li>elbers@elbers-eurofleurs.de</li>
            </ul>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
        <div class="p-5 tm-bg-gray h-100">
            <h3 class="tm-text-primary mb-4">Rechtliches</h3>
            <ul class="list-unstyled tm-footer-links">
                <li><a href="#" data-toggle="modal" data-target="#Impressum">Impressum</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Datenschutz">Datenschutz</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Umweltschutz">Umweltschutz</a></li>
                <li>
                    <NavLink href="contact">
                        Kontakte
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- row -->