@inherits LayoutComponentBase

<div class="tm-page-wrap mx-auto">
    <div class="position-relative">
        <header class="position-absolute tm-site-header">
            <div class="container-fluid position-relative">
                <NavMenu />
            </div>
        </header>

        <Banner />

    </div>
    <div class="container-fluid">
        <div id="content" class="mx-auto tm-content-container">
            <main>
               
                    @Body
                
            </main>
            <footer>
                <Footer />
            </footer>
        </div>
    </div>
    <Modal />
</div>





<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
