@inherits LayoutComponentBase
<CascadingValue Value=this>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <header class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <NavMenu />
                </div>
            </header>

            @if (IsLoginPage())
            {
                <Banner /> 
            }
        </div>
        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    @Body
                </main>
                <footer>
                    @if (IsLoginPage())
                    {
                        <LoginFooter /> 
                    }
                    <Footer />
                </footer>
            </div>
        </div>
        <Modal />
    </div>
</CascadingValue>

@code {
    private bool IsLoginPage()
    {
        
        return NavigationManager.ToAbsoluteUri(NavigationManager.Uri).PathAndQuery.Contains("/login");
    }

    [Inject]
    public NavigationManager NavigationManager { get; set; }
}
