@inherits LayoutComponentBase
<CascadingValue Value=this>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <header class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <NavMenu />
                </div>
            </header>

            <Banner />
        </div>
        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    @Body
                </main>
                <footer>
                    @if (IsLoginPage)
                    {
                        <LoginFooter />
                    }
                    else if (IsHomePage)
                    {
                        <!-- Не выводим футер на главной странице -->
                    }
                    else
                    {
                        <Footer />
                    }
                </footer>
            </div>
        </div>
        <Modal />
    </div>
</CascadingValue>

@code {
    public bool IsLoginPage { get; set; } = false;
    public bool IsHomePage { get; set; } = false; // Новое свойство
}
