


<div class="row">
    <div class="col-7 col-md-4">
        <a href="/" class="tm-bg-black text-center tm-logo-container">
            <img src="assets/img/eurofleurs-logo.png" alt="logo">
            <p>FloriTrade Bestellsystem</p>
        </a>
    </div>
    <div class="col-5 col-md-8 ml-auto mr-0">
        <div class="tm-site-nav">
            <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <i class="fas fa-bars tm-menu-closed-icon"></i>
                        <i class="fas fa-times tm-menu-opened-icon"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                    <ul class="navbar-nav text-uppercase">


                        <li class="nav-item ">
                            <NavLink class="nav-link tm-nav-link" href="home" Match="NavLinkMatch.All">
                                Bestellungen
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="ubersicht">
                                Übersicht
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="etiketten">
                                Etiketten
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="lieferscheine">
                                Lieferscheine
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="rechnungen">
                                Rechnungen
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="statistik">
                                Statistik
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="einstellungen">
                                Einstellungen
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link tm-nav-link" href="lager">
                                Lager
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
